section
{
	display: block;
}

h1
{
	float:left;
	max-width: 70%;
	font-size: 50px;
	font-weight: 10;
}

img
{
	border: 1px solid black;
	height: 200px;
	width: 200px;
}

#s2
{
	padding-top: 5%;
	padding-left: 20%;
}

video
{
	width: 400px;
	height: 400px;
}

button
{
	height: 40px;
	width: 80px;
	font-size: 20px;
}

#btn
{
	padding-left: 10%;
/*	text-align: center;*/
}