/*
html
{
    position: absolute;
}
*/

/*
table,tr,th,td
{
    border: 1px solid black;
}*/

#container
{
    margin-top: 20px;
    position: absolute;
}

#t1
{
    float: left;
    margin-right: 200px;
}